.container{
  max-width: 600px;
  min-width: 300px;
}

h4{
  font-size: 15px;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 10px 10px;
  text-align: left;
}

ul.img-list li {
  display: inline-block;
  height: 150px;
  overflow: hidden;
  margin: 0 1em 1em 0;
  position: relative;
  width: 150px;
  line-height: 14px;
}

img{
  height: 150px;
  width: auto;


}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: auto;
  opacity: 0;
  padding-left: 5px;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;

}

ul.img-list li:hover span.text-content {
  opacity: 1;
}


span.text-content span {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}
